.body {
    padding-left: 10%;
    padding-right: 10%;
}

.topnav {
    display: flex;
    background-color: aqua;
    color: black;
    height: 70px;
    width: 100%;
    justify-content: space-between;
}

a {
    
    padding: 10px;
  text-decoration: none;
    color: black;
    border: none;
    margin-top: 20%;
    
    
}

.button {
    padding: 10px;
    height: fit-content;
    background-color: #1f34ed;
    color: antiquewhite;
    border: none;
    margin-top: 1%;
    margin-right: 2%;
}

.contaniner {
    display: flex;
    width: 100%;

}
.image1{
    display: flex;
    width: 50%;
    height: 200px;
    float: left.;
}