.body {
    padding-left: 10%;
    padding-right: 10%;
}

.topnav {
    display: flex;
    background-color: rgb(20, 15, 90);
    color: white;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}
.list{
    margin-top: 4%;
}

a {

    padding: 10px;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 20%;
    margin-top: 3%;


}
.login{
    margin-top: 4%;
}
.button {
    padding: 10px;
    height: fit-content;
    background-color: #1f34ed;
    color: antiquewhite;
    border: none;
    margin-top: 3%;
    margin-right: 2%;
}

u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 5px;
    text-underline-offset: 2px;
}
    /* end of top nav */

.contaniner1{
    background-image: url("./assets/images/milk 5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
   
   
}

.image1 {
    padding-right: 35px;
    display: flex;
    width: 50%;

    float: left;
    padding-bottom: 0%;

}
.right{
    padding: 35px;
    height: 400px;
}
 /* end of contaniner1 */
 .container2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: transparent;
    float: right;
    width: 100%;
    padding: 5px 3px;
    height: auto;
    margin: 0px;
    justify-content: space-between;
}

.container2 .each_data {
    width: auto;
    background-color: ghostwhite;
    margin: 0.5%;
    height: 200px;
    min-width: 20%;
    border-radius: 4px;
    text-align: center;
    padding-top: 4px;


}

.container2 .each_data p {
    font-size: 24px;
    margin: 2px auto;
} 
.table{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    margin-top: 10px;
    color: blue;
    
}


 /* start of footer */
.footer {

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: rgb(20, 15, 90);
    float: left;
    width: 100%;
    padding: 10px 6px;
    color: aliceblue;
    margin: 10px 0;
}

.footer .item {
    width: auto;
    margin: 0.5%;
    min-width: 23%;
    border-radius: 4px;
    padding: 4px;
    color:grey;


}

.h5 {
    display: flex;
    margin-left: 40%;
    text-align: center;
    float: center;
}


.input-box {
    padding: 4px;
    border: #CCC 2px solid;
    border-radius: 4px;
    min-width: 200px;
    width: 40%;
}

.field_column {
    padding: 2px 1px;
}
.field_column-footer {
    padding: 10px 6px;
}
label{
  color: black;
}
.must{
color: red;
}

.btn_compute{
    width: fit-content;
    border-radius: 6px;
    height:fit-content;
    margin: 2%;
    border: none;
    background-color: deepskyblue;
}
.btn_compute:hover{
    background-color: lightskyblue;
}